<%= form_for(@invitecode) do |f| %>
  <% if @invitecode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitecode.errors.count, "error") %> prohibited this invitecode from being saved:</h2>

      <ul>
      <% @invitecode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :create_user_id %><br />
    <%= f.text_field :create_user_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :enable_date %><br />
    <%= f.datetime_select :enable_date %>
  </div>
  <div class="field">
    <%= f.label :enable_user_id %><br />
    <%= f.text_field :enable_user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
